{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <a href="{% url 'menu' %}">
    <img src="{% static 'images/boxed logo.jpg' %}" alt="Boxed Logo" class="rounded-image" width="100" height="100">
</a>
 
  
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-md-8">
        <div class="cover-image d-flex justify-content-center">
          <img src="{% static 'images/boxed outside.jpg' %}" alt="Outside image of Restaurant" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
    <div> 
      <br>
      <br>
      <em>
        <h5>
          <span>Neapolitan Hand Stretched Pizza</span>
        </h5>
        <h6>
          <span></span> Fresh from Our Oven to Your Plate! </span>
        </h6>
      </em>
      
      <br>
      <br>
    </div>
  </div>


{% endblock %}