{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="position-relative">
        <img src="{% static 'images/pestoenhanced.jpg' %}" class="w-100" style="height: 800px; object-fit: cover;" alt="Pizza Background Image">
        <div class="overlay"></div>
        <div class="content text-center position-absolute top-50 start-50 translate-middle p-3" style="background-color: rgba(0, 0, 0, 0.7);">
            <h1 class="text-white display-1 boxed-link" style="text-decoration: none; color: inherit;">Neopolitan Style Pizza</h1>
            <h2 class="text-white display-1 boxed-link" style="text-decoration: none; color: inherit;">Take Away Menu</h2>
            <p class="text-white lead">Open from 4:30 to 10pm</p>
            <button class="btn btn-success text-white">
                <a href="tel:+353646686020" class="text-white text-decoration-none">
                  <i class="fa-solid fa-phone"></i> 
                  <br> Order Here
                </a>
              </button>
              
        </div>
    </div>
</div>


<div class="container py-5" id="menu">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-white">THE MENU</h2>
            <div class="row">
                <div class="col-md-4">
                    <a href="#starters" class="btn btn-outline-light btn-lg mb-3 d-block">Starters</a>
                </div>
                <div class="col-md-4">
                    <a href="#pizza" class="btn btn-outline-light btn-lg mb-3 d-block">Pizza</a>
                </div>
                <div class="col-md-4">
                    <a href="#dessert" class="btn btn-outline-light btn-lg mb-3 d-block">Desserts</a>
                </div>
            </div>
        </div>
    </div>


    
    <div class="row mt-5">
        <div class="col">
            <div id="starters" class="menu-section mt-4">
                <h3 class="text-dark bg-white p-2">STARTERS</h3>

                <h1><b>Garlic Bread</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€8.00</span></h1>
                <p class="w3-text-grey">Hand Stretched dough with Irish butter smothered in Garlic with a parsley garnish</p>
                <hr>
                <h1><b>Mozzarella Garlic Bread</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€10.00</span></h1>
                <p class="w3-text-grey">Hand Stretched dough with Mozzarella Cheese, Irish butter smothered in Garlic with a parsley garnish</p>
                <hr>
                <h1><b>Spicy Garlic Cheese Bread</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€12.50</span></h1>
                <p class="w3-text-grey">Hand Stretched dough, Irish butter, Crushed Garlic, Red Onion, Pepper Flakes with a parsley garnish</p>
                <hr>
                <h1><b>Boxed Special Garlic Bread</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.00</span></h1>
                <p class="w3-text-grey">Hand Stretched dough, Irish butter, Crushed Garlic, Carmeliseed Onion, Goats Cheese olives pru with a parsley garnish</p>
                <hr>
            </div>


            <div id="pizza" class="menu-section">
                <h3 class="text-dark bg-white p-2">PIZZA</h3>
                <!-- Pizza menu content goes here -->
                <h1><b>Margharita </b> <span class="w3-right w3-tag w3-dark-grey w3-round">€11.50</span></h1>
                <p class="w3-text-grey">Extra Virgin Olive oil, mozzarella, fresh basil <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Pepperoni </b> <span class="w3-right w3-tag w3-dark-grey w3-round">€13.00</span></h1>
                <p class="w3-text-grey">Mozzarella, Salami Picante <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Isobella </b> <span class="w3-right w3-tag w3-dark-grey w3-round">€13.50</span></h1>
                <p class="w3-text-grey">Mozzarella, Proscuttio, Mushrooms <br><span style="font-size: xx-small;">Allergens Info 1. 7. 12.</span></p>
                <hr>
                <h1><b>Vedure</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.00</span></h1>
                <p class="w3-text-grey">Mozzarella, Roast Peppers, Red Onion, Spinich, Mushrooms<br> <span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Diablo</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Mozzarella, Ventricina, Red Onion, Chillies, Jalepenos<br> <span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Capricciosa</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Proscuttio, Olives, Mushroom, Artichokes <br><span style="font-size: xx-small;">Allergens Info 1. 7. 12.</span></p>
                <hr>
                <h1><b>Tricolore</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.50</span></h1>
                <p class="w3-text-grey">Mozzarella, Goats Cheese, Cherry Tomatoes, Pesto <br><span style="font-size: xx-small;">Allergens Info 1. 7. 8.</span></p>
                <hr>
                <h1><b>Fernanda</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Nduja & Gorgonzola <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Tuscan</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Spinach, Chicken, Pesto & Cherry Tomatoes <br><span style="font-size: xx-small;">Allergens Info 1. 7. 8.</span></p>
                <hr>
                <h1><b>IL Greco</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.50</span></h1>
                <p class="w3-text-grey">Spinich, Feta, Olives & Carmelised Onions <br><span style="font-size: xx-small;">Allergens Info 1. 7. 12.</span></p>
                <hr>
                <h1><b>Mirabella</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.50</span></h1>
                <hr>
                <p class="w3-text-grey">Mozerella, Goats Cheese, Courgette, Grated Lemon, Chillies <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <h1><b>Spagnola</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Chicken, Chorizo, Peppers, Red Onion, Hot Honey <br><span style="font-size: xx-small;">Allergens Info 1. 7. 12.</span></p>
                <hr>
                <h1><b>Quattro Fromaggi</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Mozzarella, Feta Cheese, Goats Cheese, Gorganzola <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>Fumosa</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€15.00</span></h1>
                <p class="w3-text-grey">Mozzerella Cheese, Spinich, Panchetta, Scamorza <br><span style="font-size: xx-small;">Allergens Info 1. 7.</span></p>
                <hr>
                <h1><b>IL Rebelle</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€14.00</span></h1>
                <p class="w3-text-grey">Black Pudding, Bacon, Caramelised Onions & Parsley <br><span style="font-size: xx-small;">Allergens Info 1. 3. 4. 6. 7. 9. 10. 12</span></p>
                <hr>
                
                
            
            </div>


            <div id="dessert" class="menu-section mt-4">
                
                <h3 class="text-dark bg-white p-2">DESSERTS</h3>
                
                <h1>Gelato by Scúp</h1>
                <h3>Try the award winning ice-cream <br>
                Available in 1 or 2 Scoops</h3>
                <br>
                <h5>Flavours include: <h6>Strawberry, Cookies and Cream, Oreo & many more... ask for details!</h6></h5>
            </div>

            <div id="drinks" class="menu-section mt-4">
                <h3 class="text-dark bg-white p-2">DRINKS</h3>
                <h1><b>Coke/Coke Zero</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€2.50</span></h1>
                <hr>
                <h1><b>San Pelligrino Soft Drinks</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€2.50</span></h1>
                <hr>
                <h1><b>San Pelligrino Sparkling</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€2.80</span></h1>
                <hr>
                <h1><b>Pana Still Water</b> <span class="w3-right w3-tag w3-dark-grey w3-round">€2.20</span></h1>
                <hr>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
