{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4">
        <img src="{% static 'images/melkeith.png' %}" alt="Mel and Keith in the old Horsebox" class="img-fluid">
    </div>
    <div class="col-12 col-md-8">
        <div class="story-container">
            <h2>About Us</h2>
            <p>Due to Covid 19 affecting both our jobs and both looking unattainable, we decided to make the brave move in starting a new enterprise for ourselves. In the summer of 2020 we bought a converted horse box with a wood fired oven in it (hence the name 'Boxed Wood Fired Pizza') and went about learning how to make the best pizza we could.. choosing to do handmade Neapolitan pizza ❤️ From working a couple of great seasons at <a href="@quillsglengarriff">Quills Glengarriff</a> in County Cork, to opening our own little restaurant in Kenmare, Co Kerry, we can't thank everyone enough for their support - locals and visitors passing through. We have 1000 followers now, so just wanted to say thanks very much to everyone of you and all of our customers for keeping us on this journey, Keith & Mel ❤️</p>
        </div>
    </div>
</div>


{% endblock %}