h2 h3 h4 h5 {
    font-family: 'Times New Roman', Times, serif;
  }
  
h1 {
      font-family: 'Times New Roman', Times, serif;
      font-weight: 500;
      padding-top: 15px;
  }


  
  .rounded-image {
    border-radius: 50px;
    animation: rotateImage 8s linear infinite; /* Apply animation */
  }

  @keyframes rotateImage {
    0% { transform: rotate(0deg); } /* Start position */
    100% { transform: rotate(360deg); } /* End position (360 degrees) */
}

.fade-in-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 60px;
  opacity: 0; /* Start with opacity 0 */
}






  nav {
    position: fixed;
  }
  
  .head-info {
    padding:10px;
  }
  
  body {
      background-color: black;
      color: #fafafa;
      text-align: center;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }
        
 
  

footer a {
    margin: 0 10px;
    color: #fafafa;
    text-align: center;
    border-block: 5px;
    padding: 20px;
       
}
  
footer .copyright {
    color: rgba(252, 244, 244, 0.718);
    font-size: xx-small;
    border-block: 5px;
    padding: px;
    margin: 0;
       
}
  
      /* Custom style to adjust the position of the dropdown menu */
  .dropdown-menu.custom-dropdown {
    right: auto;
    left: auto;
    padding: 5px;
  }

  @media (min-width: 768px) {
    .success {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust background color as needed */
        padding: 20px;
        color: white;
    }
}
